body {
  background-color: white;
  margin: 0;
}
.google-button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 11px 16px;
  text-align: center;
}
.google-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
  cursor: pointer;
}
#navbar {
  background-color: white;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
#navbar a {
  font-family: arial, sans-serif;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-size: 13px;
  padding: 0 7px;
}
#navbar a:hover {
  opacity: .85;
  text-decoration: underline;
}
#navbar a:visited {
  color: #609;
}
#navbar a:last-child {
  padding-right: 0;
}
.main-wrapper .logo-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-wrapper .input-section {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  margin-top: 30px;
}
.main-wrapper .input-section .input-wrapper {
  width: 484px;
  height: 44px;
  vertical-align: top;
  border-radius: 2px;
  border: 1px solid #efefef;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.main-wrapper .input-section .input-wrapper input {
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 44px;
  padding: 10px;
  box-shadow: none;
  box-sizing: border-box;
  width: 390px;
  border: none;
}
.main-wrapper .input-section .input-wrapper input:focus,
.main-wrapper .input-section .input-wrapper input:active,
.main-wrapper .input-section .input-wrapper input:active {
  border: none;
  box-shadow: none;
  outline: none;
}
.main-wrapper .input-section .input-wrapper .input-icons {
  width: 90px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-wrapper .button-section {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  margin-top: 20px;
}
.main-wrapper .info-section {
  margin-top: 10px;
  text-align: center;
}
.main-wrapper .info-section span {
  font-family: arial, sans-serif;
  color: #222;
  font-size: small;
}
.main-wrapper .info-section span a {
  text-decoration: none;
}
.main-wrapper .info-section span a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */